# macOS
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
.yarn-integrity
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Metro
.metro-health-check*

# React Native
*.jsbundle
*.map
*.log

# Testing
/coverage/
*.hprof
_reports/
__tests__/
.bundle/
.jest/

# Ruby / CocoaPods
**/Pods/
vendor/bundle/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# IDE and editor files
*.swp
*.swo
*~
.vscode/
.vimrc

# Miscellaneous
Thumbs.db
*.log

# Project-specific files to ignore
package-lock.json
yarn.lock
android/build/
android/app/build/
ios/build/
ios/Pods/
ios/

# Ignore project-specific config and temporary files
babel.config.js
Gemfile
.prettierrc.js
.watchmanconfig
app.json
metro.config.js
tsconfig.json

# Folder exclusions based on your structure
android/
ios/
Server/
